{% extends "/admin/base-admin.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<body>

    <!-- Dashboard content -->
    <div class="dashboard-container">
      
  
      <!-- Middle of the Page Buttons -->
      <a href="/update_admin_pass" class="dashboard-btn">
        <i class="fa fa-pass"></i> Change Password
      </a>
      <a href="/send_email" class="dashboard-btn">
        <i class="fa fa-email"></i> Test Email
      </a>
    </div>
  
  </body>
{% endblock %}