{% extends "/admin/base-template-admin.html" %}

{% block title %}Investinbulls.net{% endblock %}

{% block content %}
<body>
  
  <!-- Dashboard content -->
  <div class="dashboard-container">

    <!-- Middle of the Page Buttons -->
    <a href="/createticker" class="dashboard-btn">
      <i class="fa fa-plus-circle"></i> Create Watchlist
    </a>
    <a href="/showadmintickers" class="dashboard-btn">
      <i class="fa fa-list-alt"></i> Stock Alerts
    </a>
    <a href="/showusers" class="dashboard-btn">
      <i class="fa fa-users"></i> Show Users
    </a>
  </div>

</body>
{% endblock %}
