{% extends "/admin/base-admin.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<body>

  <!-- Dashboard content -->
  <div class="dashboard-container">
    <p><b>Select an option to proceed:</b></p>

    <!-- Middle of the Page Buttons -->
    <a href="/createticker" class="dashboard-btn">
      <i class="fa fa-plus-circle"></i> Create Watchlist
    </a>
    <a href="/showadmintickers" class="dashboard-btn">
      <i class="fa fa-list-alt"></i> Stock Alerts
    </a>
    <a href="/showusers" class="dashboard-btn">
      <i class="fa fa-users"></i> Show Users
    </a>
  </div>

</body>
{% endblock %}
