RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /home1/omksyite/public_html/website_ab1674ca/main.cgi/$1 [L]

#RewriteRule . /main.cgi [L]
