RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /home1/omksyite/public_html/website_e35a5b47/main.cgi/$1 [L]

#RewriteRule . /main.cgi [L]
