<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Dashboard{% endblock %}</title>
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-base-admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-base.css') }}">
</head>

<body>
    <!-- Navigation bar -->
    <div class="navbar">
        <!-- Left Top Corner Dashboard Button -->
        <div class="left-menu">
            <!-- Dashboard Button -->
            <button class="dashboard-btn" id="dashboard-menu">
                <i class="fa fa-dashboard"></i> <a href="/userdashboard">Dashboard</a>
            </button>
        </div>

        <!-- Right Side User Profile Menu -->
        <div class="right-menu">
            <div class="profile-menu">
                <button class="profile-btn">
                    <i class="fa fa-user-circle"></i> <a href="/generaluserprofile">Paromita</a>
                </button>
            </div>

            <!-- Logout button -->
            <button class="logout-btn" id="logout">
                <i class="fa fa-sign-out"></i> <a href="/logout">Logout</a>
            </button>
        </div>
    </div>

    <!-- Main Content -->
    <div class="dashboard-container">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer">
            <p style="text-align: center;">&copy; 2024 investinbulls.net company. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>
