<!DOCTYPE html>
<html>
<body>

<h2>Invenstemnt </h2>

<form action="/action_page.php">
  <label for="fname">Ticker Name:</label>
  <input type="text" id="fname" name="fname" value=""><br><br>

  <label for="lname">Enter price:</label>
  <input type="text" id="lname" name="lname" value=""><br><br>

  <label for="lname">Stop %:</label>
  <input type="text" id="lname" name="lname" value=""><br><br>

  <label for="lname">Stop price:</label>
  <input type="text" id="lname" name="lname" value=""><br><br>

  <label for="lname">Target-1:</label>
  <input type="text" id="lname" name="lname" value=""><br><br>

  <label for="lname">Target-2:</label>
  <input type="text" id="lname" name="lname" value=""><br><br>

  <label for="lname">Target-3:</label>
  <input type="text" id="lname" name="lname" value=""><br><br>


  <input type="submit" value="Create">
</form> 

<p>Click on Create to submit a Ticker.</p>

</body>
</html>